#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 2%;
    background-color: lightgray;
}

.screen {
    background-color: whitesmoke;
    border: 1px solid black;
    width: 350px;
    height: 100px
}

button {
}